
.apply-submit-btn {
    background-color: #153e04 !important;
    border-color: #153e04 !important;
    color: #fff !important;
  }
  
  .apply-submit-btn:hover {
    background-color: #0e2b02 !important;
    border-color: #0e2b02 !important;
    color: #fff !important;
  }
  